*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #101319;
  color: white;
  height: 100%;
}
.navbar {
  color: white;
  overflow: hidden;
  display: block;
  margin: 25px 30px 25px 30px;
}
.navbar * {
  display: table-cell;
  vertical-align: middle;
}
.navbar .nav-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 28px;
  display: inline-block;
}
.navbar .nav-links {
  list-style-type: none;
  float: right;
}
.navbar .nav-links .nav-item {
  font-family: "Karla", sans-serif;
  font-size: 16px;
}
.navbar .nav-links .nav-item i {
  display: inline;
  position: relative;
  top: -2px;
  margin: 10px;
  font-size: 20px;
}
.navbar .nav-links .nav-item a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  transition: color 250ms;
  margin: 10px;
}
.navbar .nav-links .nav-item a:hover {
  color: rgb(184, 184, 184);
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

.weather {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.input {
  position: block;
  margin-bottom: 20px;
  height: 100%;
}

.city-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error {
  margin-top: 10px;
  font-family: "Karla", sans-serif;
  padding: 5px 8px 5px 8px;
  border-radius: 5px;
  background-color: #f54932;
  width: fit-content;
  animation: shake 0.2s ease-in-out 0s 2;
}

.error i {
  top: 50%;
  position: relative;
  vertical-align: middle;
  margin-left: 10px;
  bottom: 1px;
  cursor: pointer;
}

/* Error animation */
@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.city-input {
  background: none;
  border: none;
  outline: none;
  margin-top: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  max-width: 300px;
  padding-bottom: 7.5px;
  font-size: 25px;
  text-align: center;
  border: 10px;
  border-bottom: 5px solid rgb(255, 255, 255, 0.55);
  color: white;
  transition: border 500ms;
}
.city-input:focus {
  border-color: rgb(255, 255, 255, 0.9);
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  flex: 0.00001;
  font-family: "Montserrat", sans-serif;
  min-width: 285px;
  max-height: 430px;
  margin: 15px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  animation: slideIn 1s;
  animation-timing-function: ease-out;
}
.card section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px;
}
.card hr {
  margin: -10px;
  width: 85%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 3.5px solid rgba(255, 255, 255, 0.664);
  border-radius: 25px;
  padding: 0;
}

.card .spread * {
  margin-top: 5px;
}
.card i {
  margin: 5px;
}
.card .convert {
  position: absolute;
  left: 7.5px;
  top: 7.5px;
  transition: color 500ms;
}

.card .convert:hover {
  color: rgb(184, 184, 184);
}

.card .close {
  position: absolute;
  right: 7.5px;
  top: 7.5px;
  cursor: pointer;
  transition: color 500ms;
}
.card .close:hover {
  color: rgb(184, 184, 184);
}
.card .temp {
  font-weight: 900;
  font-size: 40px;
  margin: 5px 0 5px 0;
}
.card .weather {
  font-size: 17px;
  font-weight: 600;
}
.card .feelslike {
  margin-top: 5px;
  font-size: 12px;
}
.card .location {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 5px;
}
.card .time {
  font-size: 30px;
  font-weight: 500;
}
.card .bold {
  font-weight: 600;
}
.remove {
  position: relative;
  animation: slideOut 500ms;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes slideOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: 50px;
  }
}
.cold {
  background: rgb#86DFEC;
  background: linear-gradient(135deg, #86dfec 0%, #48bfe3 100%);
}
.normal {
  background: #d9ed92;
  background: linear-gradient(135deg, #d9ed92 0%, #99d98c 100%);
}
.warm {
  background: #f2bc6b;
  background: linear-gradient(135deg, #f2bc6b 0%, #ffb23e 100%);
}
.hot {
  background: #e95da8;
  background: linear-gradient(135deg, #e95da8 0%, #ef385d 100%);
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  .nav-links {
    position: fixed;
    width: 100%;
    background-color: #101319;
    height: 100vh;
    top: 80px;
    left: -100%;
    flex-direction: column;
    text-align: center;
    transition: all 0.5s;
  }
  .navbar .nav-links .nav-item {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
